In [2]:
# Next dataset practice
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings("ignore")
import matplotlib
matplotlib.rc('figure', figsize=(20,8))
matplotlib.rc('font', size = 14)
matplotlib.rc('axes.spines', top = False, right = False)
matplotlib.rc('axes',grid=False)
matplotlib.rc('axes', facecolor = 'white')

In [3]:
df = pd.read_csv('/home/troy/Downloads/uber-dataset/ncr_ride_bookings.csv')  # If lines = True is not present, code block will not run
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [4]:
df.count()

Date                                 150000
Time                                 150000
Booking ID                           150000
Booking Status                       150000
Customer ID                          150000
Vehicle Type                         150000
Pickup Location                      150000
Drop Location                        150000
Avg VTAT                             139500
Avg CTAT                             102000
Cancelled Rides by Customer           10500
Reason for cancelling by Customer     10500
Cancelled Rides by Driver             27000
Driver Cancellation Reason            27000
Incomplete Rides                       9000
Incomplete Rides Reason                9000
Booking Value                        102000
Ride Distance                        102000
Driver Ratings                        93000
Customer Rating                       93000
Payment Method                       102000
dtype: int64

In [5]:
df.dtypes

Date                                  object
Time                                  object
Booking ID                            object
Booking Status                        object
Customer ID                           object
Vehicle Type                          object
Pickup Location                       object
Drop Location                         object
Avg VTAT                             float64
Avg CTAT                             float64
Cancelled Rides by Customer          float64
Reason for cancelling by Customer     object
Cancelled Rides by Driver            float64
Driver Cancellation Reason            object
Incomplete Rides                     float64
Incomplete Rides Reason               object
Booking Value                        float64
Ride Distance                        float64
Driver Ratings                       float64
Customer Rating                      float64
Payment Method                        object
dtype: object

In [6]:
print("Columns:")
print(df.columns.tolist())

Columns:
['Date', 'Time', 'Booking ID', 'Booking Status', 'Customer ID', 'Vehicle Type', 'Pickup Location', 'Drop Location', 'Avg VTAT', 'Avg CTAT', 'Cancelled Rides by Customer', 'Reason for cancelling by Customer', 'Cancelled Rides by Driver', 'Driver Cancellation Reason', 'Incomplete Rides', 'Incomplete Rides Reason', 'Booking Value', 'Ride Distance', 'Driver Ratings', 'Customer Rating', 'Payment Method']

In [7]:
df.shape

(150000, 21)

In [8]:
df = df.drop_duplicates()
# df.head()
df.count()

Date                                 150000
Time                                 150000
Booking ID                           150000
Booking Status                       150000
Customer ID                          150000
Vehicle Type                         150000
Pickup Location                      150000
Drop Location                        150000
Avg VTAT                             139500
Avg CTAT                             102000
Cancelled Rides by Customer           10500
Reason for cancelling by Customer     10500
Cancelled Rides by Driver             27000
Driver Cancellation Reason            27000
Incomplete Rides                       9000
Incomplete Rides Reason                9000
Booking Value                        102000
Ride Distance                        102000
Driver Ratings                        93000
Customer Rating                       93000
Payment Method                       102000
dtype: int64

In [9]:
print(f"\nDate range: {df['Date'].min()} to {df['Date'].max()}")
print(f"Vehicle types: {df['Vehicle Type'].nunique()}")
print(f"Unique customers: {df['Customer ID'].nunique():,}")
print(f"\nBooking Status Distribution:")
print(df['Booking Status'].value_counts())

Date range: 2024-01-01 to 2024-12-30
Vehicle types: 7
Unique customers: 148,788

Booking Status Distribution:
Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

In [10]:
df.isna().any()

Date                                 False
Time                                 False
Booking ID                           False
Booking Status                       False
Customer ID                          False
Vehicle Type                         False
Pickup Location                      False
Drop Location                        False
Avg VTAT                              True
Avg CTAT                              True
Cancelled Rides by Customer           True
Reason for cancelling by Customer     True
Cancelled Rides by Driver             True
Driver Cancellation Reason            True
Incomplete Rides                      True
Incomplete Rides Reason               True
Booking Value                         True
Ride Distance                         True
Driver Ratings                        True
Customer Rating                       True
Payment Method                        True
dtype: bool

In [11]:
df.isnull()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
149996,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
149997,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
149998,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
149999,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False

In [12]:
df.isna().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [13]:
df.isna().sum().sum()

np.int64(1123500)

In [14]:
def clean_and_prepare_data(df):
    """Clean and prepare our data for analysis"""
    
    # Make a copy to avoid modifying original
    df_clean = df.copy()
    
    # Convert dates and times
    df_clean['Date'] = pd.to_datetime(df_clean['Date'])
    df_clean['DateTime'] = pd.to_datetime(df_clean['Date'].astype(str) + ' ' + df_clean['Time'].astype(str))
    
    # Extract time features
    df_clean['Hour'] = df_clean['DateTime'].dt.hour
    df_clean['DayOfWeek'] = df_clean['DateTime'].dt.day_name()
    df_clean['Month'] = df_clean['DateTime'].dt.month
    df_clean['IsWeekend'] = df_clean['DateTime'].dt.weekday >= 5
    
    # Clean numeric columns
    numeric_cols = ['Booking Value', 'Ride Distance', 'Driver Ratings', 'Customer Rating']
    for col in numeric_cols:
        df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')
    
    # Create helpful flags
    df_clean['Is_Successful'] = df_clean['Booking Status'] == 'Completed'
    df_clean['Is_Cancelled_Customer'] = df_clean['Cancelled Rides by Customer'].notna()
    df_clean['Is_Cancelled_Driver'] = df_clean['Cancelled Rides by Driver'].notna()
    
    # Categorize booking status
    def categorize_status(status):
        if status == 'Completed':
            return 'Completed'
        elif 'Cancelled' in str(status):
            return 'Cancelled'
        elif status == 'No Driver Found':
            return 'No Driver Found'
        else:
            return 'Other'
    
    df_clean['Status_Category'] = df_clean['Booking Status'].apply(categorize_status)
    
    return df_clean

df = clean_and_prepare_data(df)
print("Data cleaning completed!")
print(f"Ready for analysis with {len(df)} rides")

Data cleaning completed!
Ready for analysis with 150000 rides

In [15]:
df.nunique()

Date                                    365
Time                                  62910
Booking ID                           148767
Booking Status                            5
Customer ID                          148788
Vehicle Type                              7
Pickup Location                         176
Drop Location                           176
Avg VTAT                                181
Avg CTAT                                351
Cancelled Rides by Customer               1
Reason for cancelling by Customer         5
Cancelled Rides by Driver                 1
Driver Cancellation Reason                4
Incomplete Rides                          1
Incomplete Rides Reason                   3
Booking Value                          2566
Ride Distance                          4901
Driver Ratings                           21
Customer Rating                          21
Payment Method                            5
DateTime                             149532
Hour                                     24
DayOfWeek                                 7
Month                                    12
IsWeekend                                 2
Is_Successful                             2
Is_Cancelled_Customer                     2
Is_Cancelled_Driver                       2
Status_Category                           4
dtype: int64

In [16]:
df.isnull().any

<bound method DataFrame.any of          Date   Time  Booking ID  Booking Status  Customer ID  Vehicle Type  \
0       False  False       False           False        False         False
1       False  False       False           False        False         False
2       False  False       False           False        False         False
3       False  False       False           False        False         False
4       False  False       False           False        False         False
...       ...    ...         ...             ...          ...           ...
149995  False  False       False           False        False         False
149996  False  False       False           False        False         False
149997  False  False       False           False        False         False
149998  False  False       False           False        False         False
149999  False  False       False           False        False         False

        Pickup Location  Drop Location  Avg VTAT  Avg CTAT  ...  \
0                 False          False      True      True  ...
1                 False          False     False     False  ...
2                 False          False     False     False  ...
3                 False          False     False     False  ...
4                 False          False     False     False  ...
...                 ...            ...       ...       ...  ...
149995            False          False     False     False  ...
149996            False          False     False     False  ...
149997            False          False     False     False  ...
149998            False          False     False     False  ...
149999            False          False     False     False  ...

        Payment Method  DateTime   Hour  DayOfWeek  Month  IsWeekend  \
0                 True     False  False      False  False      False
1                False     False  False      False  False      False
2                False     False  False      False  False      False
3                False     False  False      False  False      False
4                False     False  False      False  False      False
...                ...       ...    ...        ...    ...        ...
149995           False     False  False      False  False      False
149996           False     False  False      False  False      False
149997           False     False  False      False  False      False
149998           False     False  False      False  False      False
149999           False     False  False      False  False      False

        Is_Successful  Is_Cancelled_Customer  Is_Cancelled_Driver  \
0               False                  False                False
1               False                  False                False
2               False                  False                False
3               False                  False                False
4               False                  False                False
...               ...                    ...                  ...
149995          False                  False                False
149996          False                  False                False
149997          False                  False                False
149998          False                  False                False
149999          False                  False                False

        Status_Category
0                 False
1                 False
2                 False
3                 False
4                 False
...                 ...
149995            False
149996            False
149997            False
149998            False
149999            False

[150000 rows x 30 columns]>